{
  "presets": ["D:/Program Files/Mendix/9.24.3.8044/modeler/tools/node/node_modules/metro-react-native-babel-preset"],
  "plugins": [
    [
      "D:/Program Files/Mendix/9.24.3.8044/modeler/tools/node/node_modules/babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ]
  ]
}